<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="login.css">
    <title>Document</title>
</head>
    <body>
      <div class="maindiv">
        <div class="box1"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_dn6rwtwl.json"  background="transparent"  speed="1"  style="width: 40vw; height: 80vh;" loop autoplay></lottie-player></div>
        <div class="box2">
            <h1>WELCOME!</h1>
            <h3>Enter Your Credentials</h3>
            <form action="/" method="post">
                <label>Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your Email">
                <label>Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your Password">
                <input type="submit" id="btn" value="submit"></input>
                <div class="signup">
                    <div class="text1">Don't Have an account</div>
                    <a href="/signup"><div class="text2">Sign up</div></a>
                </div>
            </form>
         
        </div>
      
        <!-- <div class="login-box">
            <h2>Login</h2>
            <form action="/" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password">
              <input type="submit" value="submit">
            </form>
        </div> -->
    </body>
</html>